{% block link_list %}
	{% if ( fields ) %}
		<section class="section-accordion-list">
			<div class="ct-container">
			{% if fields.title %}
				<h2>{{ fields.title }}</h2>
			{% endif %}
			</div>
			<div class="ct-container slim">
			{% for i in 1..20 %}
				{% if fields['title_accordion_'~i] and fields['paragraph_accordion_'~i] %}
					{% set toggleeId = 'togglee-' ~ i ~ random() %}
					<p>
						<a href="javascript:void(0)" class="toggle accordion" data-togglee-selector=".{{ toggleeId }}">{{ fields['title_accordion_'~i] }}</a>
					</p>
					<div class="togglee accordion {{ 'togglee ' ~ toggleeId }}">
						<div>
							<p class="caption">
								{{ fields['paragraph_accordion_'~i]|e('wp_kses_post')|raw }}
							</p>
						</div>
					</div>
				{% endif %}
			{% endfor %}
			</div>
		</section>
	{% endif %}
{% endblock %}
