{% block achievement_section %}
    {% if ( fields ) %}
	<section class="section-updates">
	    <div class="ct-container">
		<div class="content">
		    <div class="first">
			<p class="title text very-big light">{{ fields.title|e('wp_kses_post')|raw }}</p>
			<img class="lady lazy" data-src="{{ fields.bg_img }}" alt="">
		    </div>
		    {% if fields.posts %}
			{% set post = fields.posts[0] %}
			<a href="" class="second">
			    <div class="left">
				<div class="top-box">
				    {% for tag in post.tags %}
					<div class="tag">{{ tag.name }}</div>
					<p class="type">TODO 新闻</p>
				    {% endfor %}
				</div>
				<div class="thumbnail lazy" data-bg="url({{ post.img_url }})"></div>
				<div class="info-box">
				    <div class="number">00.00.0000</div>
				    <div class="time">
					<span class="icon-clock"></span>
					<p>TODO 4 min 閱讀</p>
				    </div>
				</div>
				<div class="name text large bold">{{ post.post_title|e('wp_kses_post')|raw }}</div>
				<p class="ps text bold">{{ post.post_excerpt|e('wp_kses_post')|raw }}</p>
			    </div>
			    <div class="right">
				<div class="thumbnail lazy" data-bg="url({{ post.img_url }})"></div>
			    </div>
			</a>
			<div class="posts">
			    {% for post in fields.posts|slice(1) %}
				<a class="post" href="">
				    <div class="info-box">
					<div class="top">
					    {% for tag in post.tags %}
						<div class="tag">{{ tag.name }}</div>
						<p class="type">TODO 新闻</p>
					    {% endfor %}
					</div>
					<div class="name">{{ post.post_excerpt|e('wp_kses_post')|raw }}</div>
					<div class="bottom">
					    <div class="time">
						<span class="icon-clock"></span>
						<p>TODO 4 min 閱讀</p>
					    </div>
					    <div class="number">00.00.0000</div>
					</div>
				    </div>
				    <div class="thumbnail lazy" data-bg="url({{ post.img_url }})"></div>
				</a>
			    {% endfor %}
			</div>
		    {% endif %}
		</div>
		<div class="mobile-bottom-box">
		    <img class="lady" src="{{ fields.img_url }}" alt="">
		    <p>{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
		</div>
	    </div>
	</section>
    {% endif %}
{% endblock %}
