{% block articles_list %}
	{% if ( fields ) %}
	<section class="section-articles-list">
		<div class="ct-container">
			<div class="content">
				{% if fields.title %}
					<h2>{{ fields.title|e('wp_kses_post')|raw }}</h2>
				{% endif %}
				{% if ( fields.layout == 'tag_filters' and fields.tags ) %}
					<div class="tags">
						{% for tag_name, tag_id in fields.tags %}
							<!-- TODO: link to search page -->
							<a href="{{ fields.home_url }}/?s&f&f[tag]={{ tag_id }}" class="button tag">{{ tag_name|e('wp_kses_post')|raw }}</a>
						{% endfor %}
					</div>
				{% elseif ( fields.layout == 'dropdown_filters' ) %}
					<div class="dropdowns">
						<!-- We use select/dropdown to filter -->
						{% if ( fields.year_oldest and fields.year_now ) %}
							<div class="select">
								<select id="articles_list_load_more_year">
									{% for year in fields.year_now..fields.year_oldest %}
										<option value="{{ year }}">{{ year }}</option>
									{% endfor %}
								</select>
							</div>
						{% endif %}
						{% if ( fields.main_issues ) %}
							<div class="select">
								<select id="articles_list_load_more_issue">
									{% for issue_name, issue_id in fields.main_issues %}
										<option value="{{ issue_id }}">{{ issue_name|e('wp_kses_post')|raw }}</option>
									{% endfor %}
								</select>
							</div>
						{% endif %}
					</div>
				{% endif %}
			</div>
			{% if fields.posts %}
				<div class="posts" id="articles_list_post_container">
					{% for post in fields.posts %}
						<a href="{{ post.link }}" class="card-update compact">
							<div
								class="thumbnail lazy"
								data-bg="url({{ post.img_url }})"
							></div>
							<div class="box">
								<div class="meta-box">
									<div>
										{% if post.main_issue_slug %}
											<span class="issue {{ post.main_issue_slug }}">{{ post.main_issue|raw }}</span>
										{% endif %}
										<span>{{ post.news_type }}</span>
									</div>
								</div>
								<p>
									{{ post.post_title|e('wp_kses_post')|raw }}
								</p>
								<div class="meta-box">
									<div>
										{% if post.reading_time %}
											<span> <span class="icon-clock"></span> {{ post.reading_time|e('wp_kses_post')|raw }} </span>
										{% endif %}
										<span>{{ post.post_date|date }}</span>
									</div>
								</div>
							</div>
						</a>
					{% endfor %}
					</div>
			{% endif %}
		</div>
		{% if ( fields.layout == 'dropdown_filters' ) %}
			<div class="articles-list-form-wrapper" style="text-align: center">
				<div id="articles_list_messages"></div>
				<form action="#" method="POST" id="articles_list_load_more">
					<button
							class="button" type="submit" id="articles_list_load_more_btn"
							{{ fields.posts|length == 4 ? '' : 'disabled' }}
					>{{ lexicon.load_more }}</button>
					<input type="hidden" value="{{ fields.tag_ids }}" name="tid">
					<input type="hidden" value="{{ fields.article_post_type }}" name="apt">
					<input type="hidden" value="{{ fields.layout }}" name="l">
					{{ fields.wp_nonce|raw }}
				</form>
			</div>
		{% endif %}
	</section>
	{% endif %}
{% endblock %}
