{% block article_row %}
	{% if ( fields ) %}
	<section class="section-article-row" data-source="{{ fields.tag_slug }}">
		<div class="ct-container">
			<h2><a href="{{ fields.home_url }}/?s&f&f[tag]={{ fields.tag_id }}#search_form_inner">{{ fields.title|e('wp_kses_post')|raw }}<span class="icon-chevron-right"></span></a></h2>
			<div class="swiper-container mini-swiper">
				<div class="swiper-wrapper">
					{% for post in fields.posts %}
						<a href="{{ post.link }}" class="swiper-slide card-mini mini-update" data-index="{{ fields.index }}">
							{% if post.img_url %}
								<div
									class="thumbnail lazy"
									data-bg="url({{ post.img_url }})"
								></div>
							{% endif %}
							<div class="meta-box">
								<div>
									<span>{{ post.post_date }}</span>
								</div>
								<div>
									<span>{{ post.news_type }}</span>
								</div>
							</div>
							<h3>{{ post.post_title }}</h3>
						</a>
						{% if ( fields.display_submit_form and loop.index == 1 ) %}
						<div class="swiper-slide card-mini mini-launcher">
							<p>{{ lexicon.add_your_story_par }}</p>
							<p><a href="{{ fields.ugc_link }}" class="button">{{ lexicon.add_your_story_submit }}</a></p>
						</div>
						{% endif %}
					{% endfor %}
				</div>
				<div class="swiper-button-next">
					<span class="icon-chevron-right"></span>
				</div>
				<div class="swiper-button-prev">
					<span class="icon-chevron-right"></span>
				</div>
			</div>
		</div>
	</section>
	{% endif %}
{% endblock %}
