{% block big_carousel_manual_selection %}
	{% set is_front_page = fn('is_front_page') %}
	{#  !!! KEEP SYNCRONIZED with base.twig !!! #}
	{% if ( fields ) %}
	<section class="section-featured section-featured-manual" data-aos="fade" data-aos-delay="200" data-aos-duration="600">
		{% if is_front_page %}
			<div class="section-featured-background js-parallax-me" data-prlx-speed="2"></div>
		{% endif %}
		<div class="ct-container">
			<div class="big-carousel-description">
				<div class="swiper-pagination"></div>
				<h2>{{ fields.title|e('wp_kses_post')|raw }}</h2>
				<p class="subtitle">{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
				<p class="desktop-only">{{ fields.paragraph|e('wp_kses_post')|raw }}</p>
			</div>
			<div class="big-carousel-clip">
				<div class="swiper-container maxi-swiper featured-swiper" {#{ not is_front_page ? 'data-aos="fade-left" data-aos-delay="400" data-aos-duration="600"' : '' }#}>
					<div class="swiper-wrapper">
						{# <div class="swiper-slide first">
							<h2>{{ fields.title|e('wp_kses_post')|raw }}</h2>
							<p class="subtitle">{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
							<p>{{ fields.paragraph|e('wp_kses_post')|raw }}</p>
						</div> #}
						{% if fields.posts %}
							{% for post in fields.posts %}
								{% if post.is_campaign %}
									<a href="{{ post.link }}" class="swiper-slide card-petition" data-index="{{ loop.index }}" data-postid="{{ post.ID }}" data-pageid="{{ post.engaging_pageid }}" data-target="{{ post.engaging_target }}" {{ not is_front_page ? 'data-aos="fade-left"' : '' }} data-aos-delay="{{ 400 + 200 * loop.index0 }}" data-aos-duration="600">
										<div
										class="thumbnail lazy"
										data-bg="url({{ post.img_url }})"
										></div>
										<div class="box">
											<div class="progress-bar">
											<!-- TODO -->
											<div class="percent" style="width: {{ post.percentage }}%"></div>
											</div>
											<!-- TODO -->
											{% if post.signatures %}<div class="stats">{{ __('%s signers', 'planet4-gpea-blocks')|format(post.signatures)| raw }}</div>{% endif %}
											<div class="content">
												<p>{{ post.post_title }}</p>
												<button class="button">{{ post.cta }}</button>
											</div>
										</div>
									</a>
									{% else %}
									<a href="{{ post.link }}" class="swiper-slide card-update" data-index="{{ loop.index }}" data-postid="{{ post.ID }}" {{ not is_front_page ? 'data-aos="fade-left"' : '' }} data-aos-delay="{{ 400 + 200 * loop.index0 }}" data-aos-duration="600">
										<div class="thumbnail lazy" 
											 data-bg="url({{ post.img_url }})" 
										></div>
										<div class="box">
											<div class="meta-box">
												<div>
													{% if post.main_issue_slug %}
														<span class="issue {{ post.main_issue_slug }}">{{ post.main_issue|raw }}</span>
													{% endif %}
													{% if post.news_type %}
														<span>{{ post.news_type }}</span>
													{% endif %}
												</div>
												<div>
													{% if post.reading_time %}
														<span>
															<span class="icon-clock"></span>
															{{ lexicon.reading_time_pre }}
															{{ post.reading_time }}
															{{ lexicon.reading_time }}
														</span>
													{% endif %}
													{% if post.post_date %}
														<span>{{ post.post_date }}</span>
													{% endif %}
												</div>
											</div>
											<p>
												{{ post.post_title }}
											</p>
										</div>
									</a>
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
					<div class="swiper-button-next">
						<span class="icon-chevron-right"></span>
					</div>
					<div class="swiper-button-prev">
						<span class="icon-chevron-right"></span>
					</div>
					<div class="lds-spinner">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
