{% block big_carousel_manual_selection %}
	{#  !!! KEEP SYNCRONIZED with base.twig !!! #}
	{% if ( fields ) %}
	<section class="section-featured">
		<div class="ct-container">
			<div class="big-carousel-description">
				<div class="swiper-pagination"></div>
				<h2>{{ fields.title|e('wp_kses_post')|raw }}</h2>
				<p class="subtitle">{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
				<p class="desktop-only">{{ fields.paragraph|e('wp_kses_post')|raw }}</p>
			</div>
			<div class="big-carousel-clip">
				<div class="swiper-container maxi-swiper featured-swiper">
					<div class="swiper-wrapper">
						{# <div class="swiper-slide first">
							<h2>{{ fields.title|e('wp_kses_post')|raw }}</h2>
							<p class="subtitle">{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
							<p>{{ fields.paragraph|e('wp_kses_post')|raw }}</p>
						</div> #}
						{% if fields.posts %}
							{% for post in fields.posts %}
								{% if post.is_campaign %}
									<div class="swiper-slide card-petition" data-index="{{ loop.index }}" data-postid="{{ post.ID }}" data-pageid="{{ post.engaging_pageid }}" data-target="{{ post.engaging_target }}">
										<div
										class="thumbnail"
										style="background-image: url({{ post.img_url }})"
										></div>
										<div class="box">
											<div class="progress-bar">
											<!-- TODO -->
											<div class="percent" style="width: {{ post.percentage }}%"></div>
											</div>
											<!-- TODO -->
											{% if post.signatures %}<div class="stats">{{ __('%s signers', 'planet4-gpea-blocks')|format(post.signatures)| raw }}</div>{% endif %}
											<div class="content">
												<p>{{ post.post_title }}</p>
												<a href="{{ post.link }}" class="button">{{ lexicon.sign_now }}</a>
											</div>
										</div>
									</div>
									{% else %}
									<a href="{{ post.link }}" class="swiper-slide card-update" data-index="{{ loop.index }}" data-postid="{{ post.ID }}">
										<div class="thumbnail" style="background-image: url({{ post.img_url }})"></div>
										<div class="box">
											<div class="meta-box">
												<div>
													<span class="issue {{ post.main_issue_slug }}">{{ post.main_issue|raw }}</span>
													{% if post.news_type %}
														<span>{{ post.news_type }}</span>
													{% endif %}
												</div>
												<div>
													<span>
														{% if post.reading_time %}
															<span class="icon-clock"></span>
															{{ post.reading_time }}
															{{ lexicon.reading_time }}
														{% endif %}
													</span>
													<span>{{ post.date }}</span>
												</div>
											</div>
											<p>
												{{ post.post_title }}
											</p>
										</div>
									</a>
									{% endif %}
								{% endfor %}
							{% endif %}
						</div>
						<div class="swiper-button-next">
							<span class="icon-chevron-right"></span>
						</div>
						<div class="swiper-button-prev">
							<span class="icon-chevron-right"></span>
						</div>
						<div class="lds-spinner">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
