{% block donation_block %}
	{% if ( fields ) %}
	<section class="section-donate-block {{ fields.upper_blur ? 'upper-fade' : '' }}">
		<div class="bg-image js-parallax-me" style="background-image: url({{ fields.bg_img }})"></div>
		<div class="ct-container">
			<div class="content"></div>
			<div class="donation-form">
				<h2>{{ fields.title }}</h2>
				<a href="{{ fields.button_link }}" class="button primary fluid">{{ fields.button_text }}</a>
			</div>
		</div>
	</section>
	{% endif %}
{% endblock %}
