{% block donate_section %}
    {% if ( fields ) %}
	<!-- TODO implement bg_img_mobile -->
	<section class="section-donate lazy {{ fields.upper_fade ? 'upper-fade' : '' }}" data-bg="url({{ fields.bg_img_desktop }})">
	    <div class="ct-container">
		<div class="content">
		    <p class="title text enormos bold">{{ fields.title|e('wp_kses_post')|raw }}</p>
		    <div class="form">
			<div class="tab-bar">
			    <div class="tab-item active">{{ fields.tag_donate_once|e('wp_kses_post')|raw }}</div>
			    <div class="tab-item">{{ fields.tag_donate_recurring|e('wp_kses_post')|raw }}</div>
			</div>
			<div class="form-body">
			    <div class="field">
				<p class="label">{{ fields.currency_code|e('wp_kses_post')|raw }}</p>
				<input type="text" aria-label="{{ fields.currency_code|e('wp_kses_post')|raw }}">
			    </div>
			    <a href="" class="button">{{ fields.button_cta|e('wp_kses_post')|raw }}</a>
			</div>
		    </div>
		</div>
	    </div>
	</section>
    {% endif %}
{% endblock %}
