{% block donation_form %}
    {% if ( fields ) %}
        <div class="container">
            <div class="content-two-column-block donation-form">
                <div class="row">
                    <div class="col-md-12 order-1 order-lg-1 col-lg-5 col-lg col-xl-5">
                        {% if ( fields.title_1 ) %}
                            <div class="heading">
                                <h2>{{ fields.title_1|e('wp_kses_post')|raw }}</h2>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 order-4 order-lg-2 col-lg-5 offset-lg-1 col-xl-5 offset-xl-1">
                        {% if ( fields.title_2 ) %}
                            <div class="heading">
                                <h2>{{ fields.title_2|e('wp_kses_post')|raw }}</h2>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 order-2 order-lg-3 col-lg-5 col-xl-5">
                        {% if ( fields.description_1 ) %}
                            <p>{{ fields.description_1|e('wp_kses_post')|raw }}</p>
                        {% endif %}
                    </div>
                    <div class="col-md-12 order-5 order-lg-4 col-lg-5 offset-lg-1 col-xl-5 offset-xl-1">
                        {% if ( fields.description_2 ) %}
                            <p>{{ fields.description_2|e('wp_kses_post')|raw }}</p>
                        {% endif %}
                    </div>
                    <div class="col-md-12 order-3 order-lg-5 col-lg-5 col-xl-5">
                        {% if ( fields.button_text_1 and fields.button_link_1 ) %}
                            <a href="{{ fields.button_link_1 }}" class="btn btn-secondary">{{ fields.button_text_1 }}</a>
                        {% endif %}
                    </div>
                    <div class="col-md-12 order-6 order-lg-6 col-lg-5 offset-lg-1 col-xl-5 offset-xl-1">
                        {% if ( fields.button_text_2 and fields.button_link_2 ) %}
                            <a href="{{ fields.button_link_2 }}" class="btn btn-secondary">{{ fields.button_text_2 }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
