{% block donate_section %}
	{% if ( fields ) %}
	<section class="section-donate {{ fields.upper_blur ? 'upper-fade' : '' }}">
		<div class="bg-image-desktop js-parallax-me lazy" 
			 data-bg="url({{ fields.bg_img }})" ></div>
		<div class="bg-image-mobile js-parallax-me lazy" 
			 data-bg="url({{ fields.bg_img_mobile }})" ></div>
		<div class="ct-container">
			<div class="content">
				<h2>{{ fields.title|e('wp_kses_post')|raw }}</h2>
				<p>{{ fields.paragraph|e('wp_kses_post')|raw }}</p>
			</div>
			<div class="donation-form">
				{% if fields.reminder_box %}
				<div class="donation-reminder-box">
					<div class="box">
						<div class="donation-reminder-box--content">
							<h4>{{ lexicon.reminder_box_title }}</h4>
							<h6>{{ lexicon.reminder_box_description }}</h6>
							<div class="donation-reminder-box--buttons">
								<button type="button" class="button js-donation-confirm-oneoff">{{ lexicon.reminder_box_give_oneoff }}</button>
								<button type="button" class="button primary js-donation-confirm-regular">{{ lexicon.reminder_box_give_regular }}</button>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
				<div class="tab-bar">	
					{% if fields.isShowMonthlyTab and fields.isShowOnceTab %}				
					<div class="tab-item is-active js-tab-item tab-item__recurring" data-recurring="Y">{{ fields.label_donate_monthly|e('wp_kses_post')|raw }}</div>
					<div class="tab-item js-tab-item tab-item__once" data-recurring="N">{{ fields.label_donate_once|e('wp_kses_post')|raw }}</div>
					{% elseif fields.isShowMonthlyTab %}				
					<div class="tab-item is-active js-tab-item tab-item__recurring" data-recurring="Y">{{ fields.label_donate_monthly|e('wp_kses_post')|raw }}</div>
					{% elseif fields.isShowOnceTab %}				
					<div class="tab-item is-active js-tab-item tab-item__once" data-recurring="N">{{ fields.label_donate_once|e('wp_kses_post')|raw }}</div>
					{% endif %}
				</div>
				<form action="{{ fields.button_landing_link }}" method="POST" class="js-donation-launcher-form js-donation-basic" data-minimum-regular="{{ fields.minimum_regular }}" data-minimum-oneoff="{{ fields.minimum_oneoff }}" data-minimum-single-error="{{ fields.minimum_error_single }}" data-minimum-recurring-error="{{ fields.minimum_error_recurring }}"  data-suggested-regular="{{ fields.suggested_regular }}" data-suggested-oneoff="{{ fields.suggested_oneoff }}">
					<!-- NOTE!!   This ↴ must be equal to the "active" default tab   -->
					<input type="hidden" name="frequency" value="{{ fields.defaultFrequecy }}" />
					<input type="hidden" name="currency" value="{{ fields.currency_code|e('wp_kses_post')|raw }}" />
					<input type="hidden" name="en_recurring_question" value="{{ fields.external_recurring_question }}" />
					<div class="form-group">
						<span class="currency">{{ fields.currency_code|e('wp_kses_post')|raw }}</span>
						<input
							name="amount"
							type="number"
							aria-label="{{ fields.currency_code|e('wp_kses_post')|raw }}"
							required
							min="1"
							step="1"
							value="{{  fields.defaultAmt | default(fields.suggested_regular) }}"
						/>
					</div>
					<button type="submit" class="button primary fluid" id="gpea_donation_form_button">{{ fields.button_label|e('wp_kses_post')|raw }}</button>
				</form>
			</div>
		</div>
	</section>
	{% endif %}
{% endblock %}
