{% block donate_section %}
	{% if ( fields ) %}
	<section class="section-donate {{ fields.upper_blur ? 'upper-fade' : '' }}">
		<div class="bg-image-desktop" style="background-image: url({{ fields.bg_img }})"></div>
		<div class="bg-image-mobile" style="background-image: url({{ fields.bg_img_mobile }})"></div>
		<div class="ct-container">
			<div class="content">
				<h2>{{ fields.title|e('wp_kses_post')|raw }}</h2>
				<p>{{ fields.paragraph|e('wp_kses_post')|raw }}</p>
			</div>
			<div class="donation-form">
				<div class="tab-bar">
					<div class="tab-item js-tab-item tab-item__once" data-recurring="N">{{ fields.label_donate_once|e('wp_kses_post')|raw }}</div>
					<div class="tab-item is-active js-tab-item tab-item__recurring" data-recurring="Y">{{ fields.label_donate_monthly|e('wp_kses_post')|raw }}</div>
				</div>
				<form action="{{ fields.button_landing_link }}" method="POST" class="js-donation-launcher-form js-donation-basic" data-minimum-regular="{{ fields.minimum_regular }}" data-minimum-oneoff="{{ fields.minimum_oneoff }}" data-minimum-error="{{ fields.minimum_error }}" data-suggested-regular="{{ fields.suggested_regular }}" data-suggested-oneoff="{{ fields.suggested_oneoff }}">
					<!-- NOTE!!   This ↴ must be equal to the "active" default tab   -->
					<input type="hidden" name="frequency" value="Y" />
					<input type="hidden" name="currency" value="{{ fields.currency_code|e('wp_kses_post')|raw }}" />
					<input type="hidden" name="en_recurring_question" value="{{ fields.external_recurring_question }}" />
					<div class="form-group">
						<span class="currency">{{ fields.currency_code|e('wp_kses_post')|raw }}</span>
						<input
							name="amount"
							type="number"
							aria-label="{{ fields.currency_code|e('wp_kses_post')|raw }}"
							required
							min="1"
							step="1"
							value="{{ fields.suggested_regular }}"
						/>
					</div>
					<button type="submit" class="button primary fluid" id="gpea_donation_form_button">{{ fields.button_label|e('wp_kses_post')|raw }}</button>
				</form>
			</div>
		</div>
	</section>
	{% endif %}
{% endblock %}
