{% block get_involved_cards %}
	<section class="section-get-involved-cards">
		<div class="ct-container ct-container--thin">
			{% set first_card = true %}
			<div class="content content--title">
				<h4 class="title">{{ static_fields.title | default(tanslate_strings.category_label) | e }}</h4>
				<div class="buttons">
				{% for i in 1..4 %}
					{% if ( static_fields[i].enabled ) %}
					<span class="link {% if ( first_card ) %}link--actived{% endif %}" data-group="{{ i | e('html_attr') }}">{{ static_fields[i].label | e }}</span>
					{% set first_card = false %}
					{% endif %}
				{% endfor %}
				</div>
				{% if ( static_fields.more.enabled ) %}
				<a class="link link--more" href="{{ static_fields.more.url | e('html_attr') }}">{{ tanslate_strings.more_button_label | e }}</a>
				{% endif %}
			</div>
		</div>
		<div class="ct-container" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
			<div class="content ct-container--wide content--desc">
			{% set first_card = true %}
			{% for i in 1..4 %}
				{% if ( static_fields[i].enabled ) %}
				<div class="grid__outer2 {% if ( first_card ) %}grid__outer2--actived{% endif %}" data-group="{{ i | e('html_attr') }}">
					<div class="swiper-container get-involved-cards-swiper grid__outer">
						<div class="swiper-wrapper grid">
							{% set first_card = false %}
							{% set card_count = 0 %}
							{% set group_name = 'group' ~ i %}
							{% for card_key, group in field_groups[group_name] %}
								{% if ( group.layout ) %}
								{% set card_count = card_count + 1 %}
								<a class="swiper-slide grid__box grid__box--issue-{{ group.category_slug | default(default_strings[group_name][card_key].category_slug) | e('html_attr') }}"
									{% if ( card_count <= 3 ) %}
									href="{{ group.url_with_ref | default(default_strings[group_name][card_key].url_with_ref) | e('html_attr') }}"
									{% else %}
									href="{{ group.url | default(default_strings[group_name][card_key].url) | e('html_attr') }}"
									{% endif %}>
									<div class="grid__inner">
										<div class="grid__header">
											<p class="category"><span class="category__name">{{ group.category | default(default_strings[group_name][card_key].category) | e }}</span></p>
											<h5 class="title">{{ group.post_title | default(default_strings[group_name][card_key].post_title) | raw }}</h5>
											{% if ( group.img or default_strings[group_name][card_key].img ) %}
											<div class="lazy img" data-bg="url({{ group.img | default(default_strings[group_name][card_key].img) | e('html_attr') }})"></div>
											{% endif %}
											<p class="subtitle">{{ group.subtitle | e }}</p>
											<div class="desc">
												<p>{{ group.paragraph | raw }}</p>
											</div>
										</div>
										<div class="grid__footer">
											{% if ( group.layout < 2 ) %}
											<div class="percentage">
												<div class="percentage__inner" style="width: {{ group.percentage | default(default_strings[group_name][card_key].percentage) | e('html_attr') }}%">
													<div class="percentage__num">{{ group.percentage | default(default_strings[group_name][card_key].percentage) | e }}%</div>
												</div>
											</div>
											{% endif %}
											<div class="counter-box">
											{% if ( group.layout < 3 ) %}
												<div class="counter-box__inner counter-box__inner--location">
													<div class="counter-box__label">{{ group.location_label | default(tanslate_strings.location_label) }}</div>
													<div class="counter-box__num">{{ group.location | default(default_strings[group_name][card_key].location) | e }}</div>
												</div>
											{% endif %}

											{% if ( group.layout < 2 ) %}
												<div class="counter-box__inner counter-box__inner--people">
													<div class="counter-box__label">{{ group.people_label | default(tanslate_strings.people_label) }}</div>
													<div class="counter-box__num">
														{{ group.people | e }}
														{{ group.people_unit | e }}
													</div>
												</div>
											{% endif %}
											</div>
										</div>
									</div>
								</a>
								{% endif %}
							{% endfor %}
							{% if ( card_count > 3 and card_count % 3 > 0 ) %}
								{% for i in 1..( 3 - card_count % 3 ) %}
								<span class="swiper-slide grid__box grid__box--fake">
								</span>
								{% endfor %}
							{% endif %}
						</div>
					</div>
					<div class="grid__pagination">
						<div class="custom-button-prev"></div>
						<div class="custom-pagination"></div>
						<div class="custom-button-next"></div>
					</div>
				</div>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}


