{% block gpnl_quote %}

  {% if ( fields ) %}

	  <div class="hero">
			  <img
					  class="hero__img"
					  src="{{ fields.image }}"
					  srcset="{{ fields.image_srcset }}"
					  sizes="{{ fields.image_sizes }}"
					  alt="{{ fields.alt_text }}"
			  >
			  <p class="hero__title">“{{ fields.title }}”</p>
			  <p class="hero__description">- {{ fields.description|e('wp_kses_post')|raw }}</p>
	  </div>


  {% endif %}
{% endblock %}
