{% block hero_set %}
	<section class="section-hero-set">
		<div class="ct-container slim">
			<div class="content content--{{ static_fields.layout | e('html_attr') }}">
				<div class="content__text">
					<h2 class="title">
						<span class="title__text title__text--pc title__text--1 title__text--{{ static_fields.title_color | e('html_attr') }}">{{ static_fields.title | e }}</span>
						<span class="title__text title__text--pc title__text--2 title__text--{{ static_fields.secondary_title_color | e('html_attr') }}">{{ static_fields.secondary_title | e }}</span>
						<span class="title__text title__text--mobile title__text--1 title__text--{{ static_fields.title_color | e('html_attr') }}">{{ static_fields.title_mobile | e | default(static_fields.title) }}</span>
						<span class="title__text title__text--mobile title__text--2 title__text--{{ static_fields.secondary_title_color | e('html_attr') }}">{{ static_fields.secondary_title_mobile | e | default(static_fields.secondary_title) }}</span>
					</h2>
					<p class="desc">
						{{ static_fields.subtitle | raw }}
					</p>
				</div>
				<span class="arrow"></span>
			</div>
		</div>
		{% if ( field_groups|length > 0 ) %}
		    <div class="slides-swiper">
				<div class="swiper-wrapper">
				{% for group in field_groups %}
					<div class="swiper-slide slide-item slide-item--{{ group.opacity }}">
					{% if ( group.img and group.img_mobile ) %}
						<div class="bg bg--mobile" style="background-image: url({{ group.img_mobile }})"></div>
						<div class="bg bg--pc" style="background-image: url({{ group.img }})"></div>
					{% elseif ( group.img ) %}
						<div class="bg bg--pc" style="background-image: url({{ group.img }})"></div>
					{% endif %}
					</div>
				{% endfor %}
				</div>
			</div>
		{% endif %}
	</section>
{% endblock %}


