{% block homepage_b2 %}
	{% if ( field_groups|length > 0 ) %}
	<section class="section-homepage-b2">
		<div class="ct-container">
			<h2 class="title">
				<span class="title__text title__text--pc">{{ static_fields.title | raw }}</span>
				<span class="title__text title__text--mobile">{{ static_fields.title_mobile | raw }}</span>
			</h2>
			<div class="grid">
				{% for group in field_groups %}
				<div class="grid__box">
					<div class="grid__inner">
						<div class="grid__image" style="background-image: url({{ group.img }})"></div>
						<div class="grid__text">
							<h4 class="grid__title">{{ group.title }}</h4>
							<p class="grid__desc">{{ group.content | raw }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	{% endif %}
{% endblock %}
