{% block issue_section %}
    {% if ( fields ) %}
	<section class="section-issues">
	    <div class="ct-container">
		<div class="content">
		    <p class="title text very-big light">{{ fields.title|e('wp_kses_post')|raw }}</p>
		    <p class="subtitle text semi-bold">{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
		</div>
	    </div>
	    <div class="swiper-container section-issues-swiper">
		<div class="swiper-wrapper">
		    {% if fields.categories %}
			{% for cat in fields.categories %}
			    <a href="{{ fields.issues_url }}" class="swiper-slide">
				<div class="image lazy" data-bg="url(https://picsum.photos/id/111/200/300)">
				    <div class="name">{{ cat.name }}</div>
				    <div class="tag color-1">{{ cat.slug }}</div>
				</div>
				<p class="descrition">TODO - 更孕育眾多物種，可說是人類的糧食庫</p>
				<div class="status">
				    <b>TODO - 1</b>
				    TODO - 成就
				</div>
			    </a>
			{% endfor %}
		    {% endif %}
		</div>
	    </div>
	</section>
    {% endif %}
{% endblock %}
