{% block launcher %}
	{% if ( static_fields ) %}
	<section class="section-launcher">
		<div class="ct-container">
			{% if ( static_fields.title ) %}
			<h2>{{ static_fields.title|e('wp_kses_post')|raw }}</h2>
			{% endif %}
			{% if ( field_groups|length > 0 ) %}
				{% for group in field_groups %}
				<div class="action as-card">
					<div class="thumbnail" style="background-image: url({{ group.img }})"></div>
					<div class="box">
						<div class="content">
							{% if ( group.subtitle ) %}
							<h4>{{ group.subtitle|e('wp_kses_post')|raw }}</h4>
							{% endif %}
							{% if ( group.paragraph ) %}
							<p>{{ group.paragraph|e('wp_kses_post')|raw }}</p>
							{% endif %}
							{% if ( group.btnlabel and group.btnlink ) %}
							<a href="{{ group.btnlink }}" class="button primary">{{ group.btnlabel|e('wp_kses_post')|raw }}</a>
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
			{% endif %}
		</div>
	</section>
	{% endif %}
{% endblock %}
