{% block launcher %}
    {% if ( fields ) %}
	{% if ( fields.layout == 'default' ) %}
	    <section class="section-image-cta">
		<div class="generic-content ct-container">
		    {% if ( fields.title ) %}
			<h2>{{ fields.title|e('wp_kses_post')|raw }}</h2>
		    {% endif %}
		    {% if ( fields.description ) %}
			<p>{{ fields.description|e('wp_kses_post')|raw }}</p>
		    {% endif %}
		    {% if ( fields.img ) %}
			<img src="{{ fields.img }}" />
		    {% endif %}
		    {% if ( fields.cta_text and fields.cta_url ) %}
			<a href="{{ fields.cta_url }}" class="button green">{{ fields.cta_text|e('wp_kses_post')|raw }}</a>
		    {% endif %}
		</div>
	    </section>
	{% elseif ( fields.layout == 'box' ) %}
	    <section class="section-latest-active pink">
		<div class="ct-container">
		    <div class="content">
			<div class="swiper-slide first">
			    {% if ( fields.title ) %}
				<h1>{{ fields.title|e('wp_kses_post')|raw }}</h1>
			    {% endif %}
			</div>
			<div class="swiper-slide second" style="background-image: url({{ fields.img }})">
			    <div class="box">
				<div class="content">
				    {% if ( fields.description ) %}
					<p>{{ fields.description|e('wp_kses_post')|raw }}</p>
				    {% endif %}
				    {% if ( fields.cta_text and fields.cta_url ) %}
					<a href="{{ fields.cta_url }}" class="button light">{{ fields.cta_text|e('wp_kses_post')|raw }}</a>
				    {% endif %}
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </section>
	{% else %}
	    <!-- do nothing -->
	{% endif %}
    {% endif %}
{% endblock %}
