{% block mc_subscription %}
	<section class="section-mc-subscription">
		<div class="ct-container subscribe">
			<div class="content">
				<h2>{{ fields.title|e('wp_kses_post')|raw }}</h2>
				<p>{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
			</div>
			<div class="content">
				<form name="mc-subscription-form" action="{{ fields.endpoint|raw }}">
					<input type="hidden" name="sf_campaign_id" value="{{ fields.sf_campaign_id|raw }}">

					<input type="hidden" name="thankyou_title" value="{{ fields.gpea_subscription_page_thankyou_title|raw }}">
					<input type="hidden" name="thankyou_subtitle" value="{{ fields.gpea_subscription_page_thankyou_subtitle|raw }}">

					<input type="hidden" name="input_required_err_message" value="{{ lexicon.input_required_err_message|raw}}" />
					<input type="hidden" name="email_format_err_message" value="{{ lexicon.email_format_err_message|raw}}" />
					<input type="hidden" name="email_do_you_mean" value="{{ lexicon.email_do_you_mean|raw}}" />
					<input type="hidden" name="server_err_message" value="{{ lexicon.server_err_message|raw}}" />
					<input type="hidden" name="policy_required_err_message" value="{{ lexicon.policy_required_err_message|raw}}" />

					<div class="form-row name-part">
						<div class="en__field__element">
								<input type="text" name="supporter.lastname" value="" placeholder="{{ lexicon.lastname_input_placeholder }}" required>
						</div>
						<div class="en__field__element">
							<input type="text" name="supporter.firstname" value="" placeholder="{{ lexicon.firstname_input_placeholder }}" required>
						</div>
					</div>
					<div class="form-row email-part">
						<div class="en__field__element">
								<input type="email" name="supporter.email" placeholder="{{ lexicon.email_input_placeholder }}" required>
								<div class="do-you-mean"></div>
						</div>
					</div>
					{% for checkbox_text in lexicon.policy_checkbox_text %}
					<div class="form-row yes-checkbox">
						<label class="custom-checkbox">
							<input name="supporter.policy[]" type="checkbox" class="" checked="1">
							<span class="custom-control-description">
								{{checkbox_text|raw}}
							</span>
						</label>
					</div>
					{% endfor %}

					<div class="form-row submit-part">
						<button class="submit btn btn-primary btn-block button primary fluid">
							{{ fields.submit_btn_text|e('wp_kses_post')|raw }}
						</button>
						<div class="enform-notice"></div>
					</div>
				</form>
			</div>
		</div>

		<div class="ct-container thankyou hide">
			<div class="content">
				<h2>
					{{ fields.thankyou_title|raw }}
				</h2>
				<p>
					<span class="thankyou-subtitle">{{ fields.thankyou_content|raw }}</span>
				</p>
			</div>
		</div>
	</section>
{% endblock %}
