{% block people_list %}
	<!-- TODO Frontend all -->
	{% if ( fields ) %}
		<section class="section-people-list">
			<div class="ct-container">
				<div class="content">
					{% if fields.title %}
						<h2>{{ fields.title }}</h2>
					{% endif %}
					{% if fields.subtitle %}
						<p class="subtitle">{{ fields.subtitle }}</p>
					{% endif %}
				</div>

				<div class="swiper-container mini-swiper">
					<div class="swiper-wrapper">
						{% for i in 1..20 %}
							{% if fields['name_person_'~i] %}
								<div class="swiper-slide card-mini has-profile">
									<div class="profile">
										<img src="{{ fields['img_person_'~i] }}" alt="" />
										<div class="name">{{ fields['name_person_'~i] }}</div>
										<div class="position">{{ fields['code_person_'~i] }}</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
