{% block petition %}
	{% if ( fields ) %}
		<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
	<section class="petition-ask">
		<div class="row">
			<div class="col-md-6 order-last order-md-first">
				<img src="{{ fields.image }}"
					 srcset="{{ fields.image_srcset }}"
					 sizes="{{ fields.image_sizes }}"
					 alt="{{ fields.alt_text }}"
				>
			</div>
			<div class="col-md-6 order-first order-md-last">
				<div class="petition-ask__wrapper">
					{% if ( fields.title ) %}
						<div class="petition-ask__title">
							<h2>{{ fields.title }}</h2>
						</div>
					{% endif %}
	        {% if ( fields.subtitle ) %}
						<div class="petition-ask__subtitle">
							<p>{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
						</div>
	        {% endif %}
	        <div class="counter">
	          <div class="counter__slider"></div>
	          <div class="counter__text">
	            <span class="counter__gettext"></span>
	          </div>
	        </div>
					<form id="petitionForm" onsubmit="return false;">
						<div class="form-group">
							<label hidden for="naam">Naam</label>
							<input name="name" required type="text" class="form-control" id="naam" placeholder="Uw naam">
						</div>
						<div class="form-group">
							<label hidden for="email">Email</label>
							<input name="mail" required type="email" class="form-control" id="email" placeholder="Uw emailadres">
						</div>
						<div class="form-group">
							<label hidden for="telefoonnummer">Telefoonnummer</label>
							<input name="phone" required type="telefoonnummer" class="form-control" id="telefoonnummer" placeholder="Uw telefoonnummer">
						</div>
						<div class="form-group checkbox">
							<input class="form-check-input" name="consent" type="checkbox" checked id="toestemming" />
							<label for="toestemming"><small class="text-muted form-check-label">{{ fields.consent }}</small></label>
						</div>
						<input type="text" name="marketingcode" value="{{ fields.marketingcode }}" hidden readonly>
						<input type="text" name="literatuurcode" value="{{ fields.literatuurcode }}" hidden readonly>
						<input type="text" name="tellercode" value="{{ fields.tellercode }}" hidden readonly>
						<button type="submit" class="btn btn-primary" id="signBtn">{{ fields.sign }}</button>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endif %}
{% endblock %}

