{% block petition %}
	{% if ( fields ) %}
		<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
	<section class="petition-block">
		<div class="row">
			<div class="col-md-6 order-last order-md-first petition-img">
				<img src="{{ fields.image }}"
					 srcset="{{ fields.image_srcset }}"
					 sizes="{{ fields.image_sizes }}"
					 alt="{{ fields.alt_text }}"
				>
			</div>
			<div class="col-md-6 order-first order-md-last gpnl-petition-wrapper">
				<div class="gpnl-petition">
					<div class="gpnl-petition-form front">
						{% if ( fields.title ) %}
							<div class="petition-title">
								<h2>{{ fields.title }}</h2>
							</div>
						{% endif %}
				        {% if ( fields.subtitle ) %}
							<div class="petition-subtitle">
								<p>{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
							</div>
				        {% endif %}
				        <div class="counter">
				          <div class="counter__slider"></div>
				          <div class="counter__text">
				            <span class="counter__gettext"></span>
				          </div>
				        </div>
						<form id="gpnl-petitionform" onsubmit="return false;">
							<div class="form-group">
								<label hidden for="name">Naam</label>
								<input name="name" required type="text" class="form-control" id="naam" placeholder="Uw naam">
							</div>
							<div class="form-group">
								<label hidden for="mail">Email</label>
								<input name="mail" required type="email" class="form-control" id="email" placeholder="Uw emailadres">
							</div>
							<div class="form-group">
								<label hidden for="phone">Telefoonnummer</label>
								<input name="phone" type="telefoonnummer" class="form-control" id="telefoonnummer" placeholder="Uw telefoonnummer">
							</div>
							<div class="form-group optin">
								<input class="form-check-input gpnl-petition-checkbox" name="consent" type="checkbox" id="toestemming" />
								<label for="consent"><small class="text-muted form-check-label gpnl-petition-checkbox-label">{{ fields.consent }}</small></label>
							</div>
							<input type="text" name="marketingcode" value="{{ fields.marketingcode }}" hidden readonly>
							<input type="text" name="literatuurcode" value="{{ fields.literatuurcode }}" hidden readonly>
							<input type="text" name="tellercode" value="{{ fields.tellercode }}" hidden readonly>
							<input type="submit" class="btn btn-primary" id="signBtn">
						</form>
					</div>
					<div class="gpnl-petition-thank back">
						<p>{{ fields.thanktext }}</p>
						<a class="btn btn-primary" href="{{ fields.donatebuttonlink }}" role="button">{{ fields.donatebuttontext }}</a>
					</div>
				</div>
			</div>
		</div>
		{# {{ dump(fields) }} #}
	</section>
{% endif %}
{% endblock %}

