{% block petition %}
	{% if ( fields ) %}
	<section class="petition-ask">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.js" type="text/javascript" charset="utf-8"></script>
		<div class="row">
			<div class="col-md-6 order-last order-md-first">
				<img  src="holder.js/800x400" class="img-fluid">
			</div>
			<div class="col-md-6 order-first order-md-last">
				<div class="petition-ask__wrapper">
					{% if ( fields.title ) %}
						<div class="petition-ask__title">
							<h2>{{ fields.title }}</h2>
						</div>
					{% endif %}
	        {% if ( fields.subtitle ) %}
						<div class="petition-ask__subtitle">
							<p>{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
						</div>
	        {% endif %}
					<form id="petitionForm" onsubmit="return false;">
						<fieldset class="form-group">
							<label for="naam">Naam</label>
							<input required type="text" class="form-control" id="naam" placeholder="Uw naam">
						</fieldset>
						<fieldset class="form-group">
							<label for="email">Email</label>
							<input required type="email" class="form-control" id="email" placeholder="Uw emailadres">
						</fieldset>
						<fieldset class="form-group">
							<label for="telefoonnummer">Telefoonnummer</label>
							<input required type="telefoonnummer" class="form-control" id="telefoonnummer" placeholder="Uw telefoonnummer">
						</fieldset>
						<div class="checkbox">
							<label>
								<!--<input required type="checkbox" id="toestemming">-->
								<input name="toestemming" type="checkbox" checked="checked" value="1" id="toestemming" />
								<small class="text-muted">{{ fields.consent }}</small>
							</label>
						</div>
						<input type="text" name="marketingcode" value="{{ fields.marketingcode }}" hidden readonly>
						<input type="text" name="literatuurcode" value="{{ fields.literatuurcode }}" hidden readonly>
						<button type="submit" class="btn btn-primary">{{ fields.sign }}</button>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endif %}
{% endblock %}

