{% block project_section %}
    {% if ( fields ) %}
	<section class="section-projects">
	    <div class="mobile-top-box">
		<div class="ct-container">
		    <p class="title text very-big light">{{ fields.title|e('wp_kses_post')|raw }}</p>
		    <p class="content text huge">{{ fields.description|e('wp_kses_post')|raw }}</p>
		</div>
	    </div>
	    <div class="swiper-container light section-projects-swiper">
		<div class="swiper-wrapper">
		    <div class="swiper-slide first">
			<p class="title text very-big light">{{ fields.title|e('wp_kses_post')|raw }}</p>
			<p class="content text huge">{{ fields.description|e('wp_kses_post')|raw }}</p>
			<p class="ps text bold">{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
		    </div>
		    {% for post in fields.posts %}
			<li>
			    ,
			</li>
			<a href="" class="swiper-slide post">
			    <div class="thumbnail lazy" data-bg="url(https://picsum.photos/id/52/200/300)">
				<div class="circle-progress-bar"></div>
			    </div>
			    <div class="info-box">
				<p class="name">{{ post.post_title }}</p>
				<div>
				    {% for tag in post.tags %}
					<div class="tag">{{ tag.name }}</div>
					<p class="status">TODO</p>
				    {% endfor %}
				</div>
			    </div>
			</a>
		    {% endfor %}
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next">
		    <span class="icon-chevron-right"></span>
		</div>
		<div class="swiper-button-prev">
		    <span class="icon-chevron-right"></span>
		</div>
	    </div>
	    <div class="mobile-bottom-box">
		<div class="ct-container">
		    <p>{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
		</div>
	    </div>
	</section>
    {% endif %}
{% endblock %}
