{% block projects_carousel %}
	{% if ( fields ) and ( fields.posts ) %}
	{% set section_class = fields.layout == 'light' ? 'light' : 'dark' %}
	{#% set container_class = fields.layout == 'light' ? 'dark' : 'light' %#}
	<section class="section-projects {{ section_class }} {{ fields.show_vertical ? 'show-vertical' : '' }}">
		<div class="ct-container">
			<div class="mobile-top-box">
				<h2>{{ fields.title|e('wp_kses_post')|raw }}</h2>
				<p>{{ fields.paragraph|e('wp_kses_post')|raw }}</p>
			</div>
			<div class="{{ fields.show_vertical ? '' : 'swiper-container projects-swiper' }} {#{ container_class }#}">
				<div class="swiper-wrapper">
					<div class="swiper-slide first">
						<h2>{{ fields.title|e('wp_kses_post')|raw }}</h2>
						<p>{{ fields.paragraph|e('wp_kses_post')|raw }}</p>
					</div>
					{% for post in fields.posts %}
						<a href="{{ post.link }}" class="swiper-slide project-slide">
							<div class="thumbnail lazy" data-bg="url({{ post.img_url }})">
								<div class="circle-progress-bar">
									<!-- {{ post.project_percentage }}% -->
									<svg width="232" height="232" viewBox="0 0 232 232">
										<circle
										cx="116"
										cy="116"
										r="112"
										fill="none"
										stroke="#ffffff"
										stroke-opacity="0.3"
										stroke-width="8"
										/>
										<!--    Assuming a percentage of 43%:                     -->
										<!--    stroke-dasharray = 2 * π * r = 697.433             -->
										<!--    stroke-dashoffset = stroke-dasharray * (1 - 0.43)    -->
										<circle
										cx="116"
										cy="116"
										r="112"
										fill="none"
										stroke="#ffffff"
										stroke-width="8"
										stroke-dasharray="697.433"
										stroke-dashoffset="{{ post.stroke_dashoffset }}"
										/>
									</svg>
								</div>
							</div>
							<div class="description">
								<h4>{{ post.post_title }}</h4>
								<div class="meta-box">
									<div class="issue {{ post.main_issue_slug }}">{{ post.main_issue|raw }}</div>
									<div>{{ post.related_posts }} {{ lexicon.updates }}</div>
								</div>
							</div>
						</a>
					{% endfor %}
				</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-next">
						<span class="icon-chevron-right"></span>
				</div>
				<div class="swiper-button-prev">
						<span class="icon-chevron-right"></span>
				</div>
			</div>
			{% if fields.see_more_label and fields.see_more_link %}
				<p class="see-more"><a href={{ fields.see_more_link|e('wp_kses_post')|raw }}>{{ fields.see_more_label|e('wp_kses_post')|raw }}</a></p>
			{% endif %}
		</div>
	</section>
	{% endif %}
{% endblock %}
