{% block projects_carousel %}
    {% if ( fields ) %}
	{% set section_class = fields.layout == 'light' ? 'light' : '' %}
	{% set container_class = fields.layout == 'light' ? '' : 'light' %}
	<section class="section-projects {{ section_class }} {{ fields.show_vertical ? 'show-vertical' : '' }}">
	    <div class="mobile-top-box">
		<div class="ct-container">
		    <p class="title text very-big light">{{ fields.title|e('wp_kses_post')|raw }}</p>
		    <p class="content text huge">{{ fields.paragraph|e('wp_kses_post')|raw }}</p>
		</div>
	    </div>
	    <div class="swiper-container section-projects-swiper {{ container_class }}">
		<div class="swiper-wrapper">
		    <div class="swiper-slide first">
			<p class="title text very-big light">{{ fields.title|e('wp_kses_post')|raw }}</p>
			<p class="content text huge">{{ fields.paragraph|e('wp_kses_post')|raw }}</p>
			<p class="ps text bold">{{ fields.see_more|e('wp_kses_post')|raw }}</p>
		    </div>
		    {% for post in fields.posts %}
			<a href="" class="swiper-slide post">
			    <div class="thumbnail lazy" data-bg="url({{ post.img_url }})">
				<div class="circle-progress-bar"></div>
			    </div>
			    <div class="info-box">
				<p class="name">{{ post.post_title }}</p>
				<div>
				    {% for tag in post.tags %}
					<div class="tag">{{ tag.name }}</div>
					<p class="status">TODO</p>
				    {% endfor %}
				</div>
			    </div>
			</a>
		    {% endfor %}
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next">
		    <span class="icon-chevron-right"></span>
		</div>
		<div class="swiper-button-prev">
		    <span class="icon-chevron-right"></span>
		</div>
	    </div>
	    {% if fields.see_more_label and fields.see_more_link %}
		<!-- TODO "see more" link styling -->
		<div class="mobile-bottom-box">
		    <div class="ct-container">
			<p><a href={{ fields.see_more_link|e('wp_kses_post')|raw }}>{{ fields.see_more_label|e('wp_kses_post')|raw }}</a></p>
		    </div>
		</div>
	    {% endif %}
	</section>
    {% endif %}
{% endblock %}
