{% block report_set %}
	<section class="section-report-set">
		<div class="ct-container">
			<div class="content content--title">
				<h2 class="title">
					{{ static_fields.title | e }}
				</h2>
			</div>
			<div class="content content--desc">
				<div class="content__inner content__inner--1" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
					<h4 class="title">
						{{ static_fields.title_1 | e }}
					</h4>
					<div class="desc">
						<p>{{ static_fields.paragraph_1 | raw }}</p>
					</div>
				</div>
				<div class="content__inner content__inner--2">
					<div class="buttons" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
						<a class="buttons__link buttons__link--primary button primary" href="{{ static_fields.button_1_link | e('html_attr') }}">{{ static_fields.button_1_text | default(default_button_1_label) | e }}<span class="buttons__arrow"></span></a>
						<a class="buttons__link buttons__link--secondary button secondary" href="{{ static_fields.button_2_link | e('html_attr') }}">{{ static_fields.button_2_text | default(default_button_2_label) | e }}<span class="buttons__arrow"></span></a>
					</div>
					<div class="image" data-aos="fade-left">
						{% if ( static_fields.book_img ) %}
						<div class="lazy bg" data-bg="url({{ static_fields.book_img | e('html_attr') }})"></div>
						{% endif %}
					</div>
				</div>
				<div class="content__inner content__inner--3" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
					<h4 class="title">
						{{ static_fields.title_2 | e }}
					</h4>
					<div class="desc">
						<p>{{ static_fields.paragraph_2 | raw }}</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}


