{% block issue_list %}
	{% if ( fields ) %}
	<section class="section-choose-topics">
		{% if (fields.layout) == 'following' %}
		<div class="tag-cloud__following ct-container" id="enform-content">
			<div class="content">
				<h2>{{ fields.title|e('wp_kses_post')|raw }}</h2>
				<p>{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
				<div class="tags js-tag-cloud">
				{% for campaign in fields.campaigns %}
					<div data-engaging='{{ campaign.engaging_id }}' data-topic='{{ campaign.term_id }}' data-slug='{{ campaign.slug }}' data-taxonomy="{{ campaign.taxonomy }}" class="topic-button button tag" style="display: none">{{ campaign.name|raw }}</div>
				{% endfor %}
				</div>
			</div>
			<div class="content">
				<form id="p4en_form" name="p4en_form" method="post" novalidate>
					<span id="enform">
					{{ fn( 'wp_nonce_field', fields.nonce_action, '_wpnonce', true, false )|raw }}
					<input type="hidden" name="enblock_submit" value="">
					<input type="hidden" name="en_page_id" value="{{ fields.gpea_default_en_subscription_page|raw }}">
					<input type="hidden" name="thankyou_title" value="{{ fields.gpea_subscription_page_thankyou_title|raw }}">
					<input type="hidden" name="thankyou_subtitle" value="{{ fields.gpea_subscription_page_thankyou_subtitle|raw }}">
					<input type="hidden" name="enform_goal" id="enform_goal" value="">
					{{ fields.form|shortcodes|raw }}
					<div class=" submit">
						<button type="submit" form="p4en_form" name="p4en_form_save_button" id="p4en_form_save_button" class="btn btn-primary btn-block button primary fluid" >{{ lexicon.subscribe }}
							<div class="three-quarters en-spinner" id="spinner" style="display:none;">...</div>
						</button>
						<div class="enform-notice"></div>
					</div>
					</span>
				</form>
			</div>
		</div>
		<div class="content">
			<div class="thankyou" style="display: none;">
				<h2>
					{{ fields.gpea_subscription_page_thankyou_title|raw }}
				</h2>
				<h2>
					<span class="thankyou-subtitle">{{ fields.gpea_subscription_page_thankyou_subtitle|raw }}</span>
				</h2>
			</div>
		</div>
		{% else %}
		<div id="enform-content">
			<form id="p4en_form" name="p4en_form" method="post" novalidate>
				<span id="enform">
				{{ fn( 'wp_nonce_field', fields.nonce_action, '_wpnonce', true, false )|raw }}
				<input type="hidden" name="enblock_submit" value="Send">
				<input type="hidden" name="en_page_id" value="{{ fields.gpea_default_en_subscription_page|raw }}">
				<input type="hidden" name="thankyou_title" value="{{ fields.gpea_subscription_page_thankyou_title|raw }}">
				<input type="hidden" name="thankyou_subtitle" value="{{ fields.gpea_subscription_page_thankyou_subtitle|raw }}">
				<input type="hidden" name="enform_goal" id="enform_goal" value="">

				<div class="ct-container">
					<div class="content">
						<h2>{{ fields.title|e('wp_kses_post')|raw }}</h2>
						<p>{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
						<div class="tags js-tag-cloud">
						{% for campaign in fields.campaigns %}
							<div data-engaging='{{ campaign.engaging_id }}' data-topic='{{ campaign.term_id }}' data-slug='{{ campaign.slug }}' data-taxonomy="{{ campaign.taxonomy }}" class="topic-button button tag">{{ campaign.name|raw }}</div>
							<input id="en__field_supporter_questions_{{ campaign.engaging_id }}" type="hidden" class="js-question-{{ campaign.slug }}" value="" name="supporter.questions.{{ campaign.engaging_id }}">
						{% endfor %}
						</div>
						<button type="button" id="topic-submit-button" class="button">{{ lexicon.follow }}</button>

						<div class="tag_cloud_form" style="display: none;">
							<p>{{ lexicon.receive_updates }}</p>
							<div> <!-- class="signatures"> -->
								{{ fields.form|shortcodes|raw }}
								<div class=" submit">
									<button type="submit" form="p4en_form" name="p4en_form_save_button" id="p4en_form_save_button" class="btn btn-primary btn-block button primary fluid" >{{ lexicon.subscribe }}
										<div class="three-quarters en-spinner" id="spinner" style="display:none;">...</div>
									</button>
									<div class="enform-notice"></div>
								</div>
							</div>
						</div>

					</div>
				</div>
				</span>
			</form>
		</div>
		<div class="content">
			<div class="thankyou" style="display: none;">
				<h2>
					{{ fields.gpea_subscription_page_thankyou_title|raw }}
				</h2>
				<p>
					<span class="thankyou-subtitle">{{ fields.gpea_subscription_page_thankyou_subtitle|raw }}</span>
				</p>
			</div>
		</div>
		{% endif %}
	</section>
	{% endif %}
{% endblock %}
