{% block testimony %}
	<section class="section-testimony">
		<div class="ct-container">
			<div class="content content--title">
				<h2 class="title">
					{{ static_fields.title | e }}
				</h2>
				<div class="desc">
					<p>{{ static_fields.paragraph | raw }}</p>
				</p>
			</div>
			{% if ( field_groups|length > 0 ) %}
		    <div class="swiper-container testimony-swiper">
				<div class="swiper-wrapper">
				{% for group in field_groups %}
					{% if ( group.start_slide_group ) %}
					<div class="swiper-slide slide-item slide-item--{{ group.layout_classes | e('html_attr') }}">
					{% endif %}
						<div class="slide-item__inner slide-item__inner--{{ group.layout | e('html_attr') }}">
							{% if ( group.img ) %}
							<div class="bg" style="background-image: url({{ group.img | e('html_attr') }})"></div>
							{% elseif ( default_bg_images[group.layout] ) %}
							<div class="bg" style="background-image: url({{ default_bg_images[group.layout] | e('html_attr') }})"></div>
							{% endif %}
							<div class="text-container">
								<div class="text text--title">
									<p class="text__title">{{ group.title | e }}</p>
									<h4 class="text__name">{{ group.name | e }}</h4>
								</div>
								<div class="text text--desc">
									<p>{{ group.paragraph | raw }}</p>
								</div>
							</div>
						</div>
					{% if ( group.end_slide_group ) %}
					</div>
					{% endif %}
				{% endfor %}
				</div>
				<div class="swiper-button-next">
					<span class="icon-chevron-right"></span>
				</div>
				<div class="swiper-button-prev">
					<span class="icon-chevron-right"></span>
				</div>
			</div>
			<div class="footer">
				<div class="swiper-pagination"></div>
			</div>
			{% endif %}
		</div>
	</section>
{% endblock %}


