{% block text_and_image %}
	{% set theme_class = 'light-theme' %}
	{% if fields.layout == 'green' %}
		{% set theme_class = 'green-theme' %}
	{% elseif fields.layout == 'dark' %}
		{% set theme_class = 'dark-theme' %}
	{% endif %}

	{% if ( fields.align ) %}
		{% set align_classname = fields.align %}
	{% else %}
		{% set align_classname = 'default' %}
	{% endif %}

	{% if ( fields.one_column ) %}
		{% set column_classname = 'one' %}
	{% else %}
		{% set column_classname = 'two' %}
	{% endif %}

	{% if ( not fields.images ) %}
		{% set type_classname = 'only-text' %}
	{% elseif ( not fields.title and not fields.paragraph ) %}
		{% set type_classname = 'only-images' %}
	{% else %}
		{% set type_classname = 'text-and-images' %}
	{% endif %}

	{% if ( fields ) %}
		{% if ( not fields.one_column and fields.images and fields.title and fields.paragraph ) %}
			<section class="section-text-images {{type_classname}} {{theme_class}} text-align-{{ align_classname }} column-{{column_classname}}">
				<div class="boxes">
					<div class="box">
						{% if not ( fields.images ) %}
							<div class="ct-container slim">
								{% if ( fields.title ) %}
									<h2>{{ fields.title|e('wp_kses_post')|raw }}</h2>
								{% endif %}
								<p>{{ fields.paragraph|e('wp_kses_post')|raw }}</p>
								{% if ( fields.link_label and fields.link_url ) %}
									<p class="see-more">
										<a href="{{ fields.link_url }}" class="{{theme_class=='green-theme' ? "button":""}}">{{ fields.link_label }}</a>
									</p>
								{% endif %}
							</div>
						{% else %}
							<div class="with-images">
								{% if ( fields.title ) %}
									<h2>{{ fields.title|e('wp_kses_post')|raw }}</h2>
								{% endif %}
								<p>{{ fields.paragraph|e('wp_kses_post')|raw }}</p>
								{% if ( fields.link_label and fields.link_url ) %}
									<p class="see-more">
										<a href="{{ fields.link_url }}" class="{{theme_class=='green-theme' ? "button":""}}">{{ fields.link_label }}</a>
									</p>
								{% endif %}
							</div>
						{% endif %}
					</div>
					{% if ( fields.images ) %}
						<div class="box fit">
							<div class="swiper-container section-text-images-swiper">
								<div class="swiper-wrapper">
									{% if fields.images|length > 0 %}
										{% for img in fields.images %}
											<div class="swiper-slide image lazy" data-bg="url({{ img }})"></div>
										{% endfor %}
									{% endif %}
								</div>
								<div class="swiper-pagination"></div>
								<div class="swiper-button-next">
									<span class="icon-chevron-right"></span>
								</div>
								<div class="swiper-button-prev">
									<span class="icon-chevron-right"></span>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</section>
		{% else %}
			<section class="section-text-images {{type_classname}} {{theme_class}} text-align-{{ align_classname }} column-{{column_classname}}">
				{% if ( fields.images ) %}
				<div class="swiper-container section-text-images-swiper">
					<div class="swiper-wrapper">
						{% if fields.images|length > 0 %}
							{% for img in fields.images %}
								<div class="swiper-slide image lazy" data-bg="url({{ img }})"></div>
							{% endfor %}
						{% endif %}
					</div>
					<div class="swiper-pagination"></div>
					<div class="swiper-button-next">
						<span class="icon-chevron-right"></span>
					</div>
					<div class="swiper-button-prev">
						<span class="icon-chevron-right"></span>
					</div>
				</div>
				{% endif %}
				{% if ( fields.title or fields.paragraph ) %}
				<div class="ct-container slim">
					{% if ( fields.title ) %}
						<h2>{{ fields.title|e('wp_kses_post')|raw }}</h2>
					{% endif %}
					{% if ( fields.paragraph ) %}
						<p>{{ fields.paragraph|e('wp_kses_post')|raw }}</p>
					{% endif %}
					{% if ( fields.link_label and fields.link_url ) %}
						<p class="see-more">
							<a href="{{ fields.link_url }}" class="{{theme_class=='green-theme' ? "button":""}}">{{ fields.link_label }}</a>
						</p>
					{% endif %}
				</div>
				{% endif %}
			</section>
		{% endif %}
	{% endif %}
{% endblock %}
