{% block text_and_image %}
	{% if ( fields ) %}
		{% if ( not fields.images and fields.layout == 'plain_light') %}
			<section class="section-text-images">
				<div class="ct-container">
					{% if ( fields.title ) %}
						<h2>{{ fields.title }}</h2>
					{% endif %}
					{% if ( fields.paragraph ) %}
						<p>{{ fields.paragraph }}</p>
					{% endif %}
					{% if ( fields.link_label and fields.link_url ) %}
						<p class="see-more">
							<a href="{{ fields.link_url }}">{{ fields.link_label }}</a>
						</p>
					{% endif %}
				</div>
			</section>
		{% else %}
			{% if fields.layout == 'plain_light' %}
				{% set box_color = 'plain' %}
			{% else %}
				{% set box_color = (fields.layout == 'dark' or fields.images) ? 'dark' : '' %}
			{% endif %}
			<section class="section-text-images">
				<div class="boxes">
					<div class="box {{ box_color }}">
						{% if not ( fields.images ) %}
							<div class="ct-container">
								{% if ( fields.title ) %}
									<h2>{{ fields.title }}</h2>
								{% endif %}
								<p>{{ fields.paragraph }}</p>
								{% if ( fields.link_label and fields.link_url ) %}
									<p class="see-more">
										<a href="{{ fields.link_url }}">{{ fields.link_label }}</a>
									</p>
								{% endif %}
							</div>
						{% else %}
							{% if ( fields.title ) %}
								<h2>{{ fields.title }}</h2>
							{% endif %}
							<p>{{ fields.paragraph }}</p>
							{% if ( fields.link_label and fields.link_url ) %}
								<p class="see-more">
									<a href="{{ fields.link_url }}">{{ fields.link_label }}</a>
								</p>
							{% endif %}
						{% endif %}
					</div>
					{% if ( fields.images ) %}
						<div class="box fit">
							<!-- TODO verificare HTML sezione -->
							<div class="swiper-container section-text-images-swiper">
								<div class="swiper-wrapper">
									{% if fields.images|length > 0 %}
										{% for img in fields.images %}
											<div class="swiper-slide image lazy" data-bg="url({{ img }})"></div>
										{% endfor %}
									{% endif %}
								</div>
								<div class="swiper-pagination"></div>
							</div>
						</div>
					{% endif %}
				</div>
			</section>
		{% endif %}
	{% endif %}
{% endblock %}
