{% block tips %}
    {% if ( fields ) %}
	<section class="section-projects light pink">
	    <div class="mobile-top-box">
		<div class="ct-container">
		    <p class="title text very-big light center">{{ fields.title }}</p>
		</div>
	    </div>
	    <div class="swiper-container section-projects-swiper">
		<div class="swiper-wrapper">
		    <div class="swiper-slide first">
			<p class="title text very-big light">{{ fields.title }}</p>
			<p class="content text">{{ fields.description }}</p>
			<p class="ps text bold">{{ fields.see_more_label }} (TODO link)</p>
		    </div>
		    {% for i in 1..25 %}
			{% if fields['description_tip_'~i] %}
			    <div class="swiper-slide post card">
				<div class="top-box">
				    <p>每日提示 (TODO dynamic)</p>
				    <p>{{ fields['tag_tip_'~i] }}</p>
				</div>
				<img class="lazy" src="" data-src="https://png.pngtree.com/element_origin_min_pic/17/03/26/53cf24d5354c414ef31930046490b023.jpg" alt="">
				<h2>{{ fields['description_tip_'~i] }}</h2>
				<!-- TODO migrate to icon: {{ fields['icon_tip_'~i] }}  -->
				<div class="social-box">
				    <a href="">
					<span class="icon-facebook"></span>
				    </a>
				    <a href="">
					<span class="icon-whatsapp"></span>
				    </a>
				</div>
			    </div>
			{% endif %}
		    {% endfor %}
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next">
		    <span class="icon-chevron-right"></span>
		</div>
		<div class="swiper-button-prev">
		    <span class="icon-chevron-right"></span>
		</div>
	    </div>
	    <div class="mobile-bottom-box">
		<div class="ct-container">
		    <center>
			<p>{{ fields.see_more_label }} (TODO link)</p>
		    </center>
		</div>
	    </div>
	</section>
    {% endif %}
{% endblock %}
