{% block tips %}
	{% if ( fields ) %}
	<section class="section-featured section-featured-tips" id="anchor_tips">
		<div class="ct-container">
			<div class="big-carousel-description" data-aos="fade" data-aos-delay="200" data-aos-duration="600">
				<div class="swiper-pagination"></div>
				<h2>{{ fields.title|e('wp_kses_post')|raw }}</h2>
				<p class="subtitle">{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
			</div>
			<div class="big-carousel-clip">
				<div class="swiper-container maxi-swiper tips-swiper">
					<div class="swiper-wrapper">
						{# <div class="swiper-slide first">
							<h2>{{ fields.title|e('wp_kses_post')|raw }}</h2>
							<p class="subtitle">{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
							<p>{{ fields.paragraph|e('wp_kses_post')|raw }}</p>
						</div> #}
						{% if fields.posts %}
							{% for post in fields.posts %}
								<div class="swiper-slide" data-aos="fade-left" data-aos-delay="{{ 400 + 200 * loop.index0 }}" data-aos-duration="600">
									<div class="tip" style="transform: rotate({{ random(-4, 4) }}deg)">
										<div class="meta-box">
											<div>{{ post.frequency }}</div>
											<div class="issue {{ post.main_issue_slug }}">{{ post.main_issue }}</div>
										</div>
										<div class="tip-icon"><img loading="lazy" src="{{ post.img_url }}" /></div>
										<p>{{ post.post_title|e('wp_kses_post')|raw }}</p>
										<div class="tip-actions">
											<div class="tip-commitments" id="tip_commitments_post_{{ post.ID }}">
												{% if ( post.engage ) %}
													<span class="js-tip-commitments">{{ post.commitments ? post.commitments : '0' }}</span> {{ lexicon.committed }}
												{% endif %}
											</div>
											<div class="tip-action-buttons {{ not post.engage ? 'is-static' : '' }}">
												<div class="social-box">
													<a href="https://www.facebook.com/sharer/sharer.php?u={{ post.link }}" target="_blank" rel="noopener noreferrer" class="tip-share-facebook">
														<span class="icon-facebook"></span>
													</a>
													<a href="whatsapp://send?text={{ post.link }}" target="_blank" rel="noopener noreferrer"  class="tip-share-whatsapp">
														<span class="icon-whatsapp"></span>
													</a>
													<a href="https://twitter.com/intent/tweet?text={{ post.post_title|e('html_attr')|raw }}&url={{ post.link }}" target="_blank" rel="noopener noreferrer" class="tip-share-twitter">
														<span class="icon-twitter"></span>
													</a>
												</div>
												{% if ( post.engage ) %}
													<form action="#" method="POST" class="tip-engage">
														<button class="button" type="submit">{{ lexicon.tip_cta }}</button>
														<input type="hidden" value="{{ post.ID }}" name="pid">
														{{ fields.wp_nonce|raw }}
													</form>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						{% endif %}
					</div>
					<div class="swiper-button-next">
						<span class="icon-chevron-right"></span>
					</div>
					<div class="swiper-button-prev">
						<span class="icon-chevron-right"></span>
					</div>
				</div>
			</div>
			{% if ( fields.see_more_label and fields.see_more_link ) %}
				<p class="see-more">
					<a href="{{ fields.see_more_link }}">{{ fields.see_more_label }}</a>
				</p>
			{% endif %}
		</div>
	</section>
	{% endif %}
{% endblock %}
