{% block tips %}
    {% if ( fields ) %}
	<section class="section-projects light pink">
	    <div class="mobile-top-box">
		<div class="ct-container">
		    <p class="title text very-big light center">{{ fields.title|e('wp_kses_post')|raw }}</p>
		</div>
	    </div>
	    <div class="swiper-container section-projects-swiper">
		<div class="swiper-wrapper">
		    <div class="swiper-slide first">
			<p class="title text very-big light">{{ fields.title|e('wp_kses_post')|raw }}</p>
                        <!-- TODO frontend: add HTML for subtitle field -->
			<p>{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
			<p class="content text">{{ fields.paragraph|e('wp_kses_post')|raw }}</p>
			<p class="ps text bold">{{ fields.see_more_label|e('wp_kses_post')|raw }} (TODO link)</p>
		    </div>
		    {% if fields.posts %}
			{% for post in fields.posts %}
			    <div class="swiper-slide post card">
				<div class="top-box">
				    <p>{{ post.frequency }}</p>
				    <!-- TODO passare anche categoria main issue  -->
				    {% if post.categories %}
					<p>{{ post.categories }}</p>
				    {% endif %}
				</div>
				{% if post.img_url %}
				    <img class="lazy" src="" data-src="{{ post.img_url }}" alt="">
				{% endif %}
				<h2>{{ post.post_title|e('wp_kses_post')|raw }}</h2>
				<div class="social-box">
				    <a href="">
					<span class="icon-facebook"></span>
				    </a>
				    <a href="">
					<span class="icon-whatsapp"></span>
				    </a>
				</div>
			    </div>
			{% endfor %}
		    {% endif %}
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next">
		    <span class="icon-chevron-right"></span>
		</div>
		<div class="swiper-button-prev">
		    <span class="icon-chevron-right"></span>
		</div>
	    </div>
	    <div class="mobile-bottom-box">
		<div class="ct-container">
		    <center>
			<p>{{ fields.see_more_label|e('wp_kses_post')|raw }} (TODO link)</p>
		    </center>
		</div>
	    </div>
	</section>
    {% endif %}
{% endblock %}
