{% block topic_section %}
    {% if ( fields ) %}
	<div class="container">
	    <div class="row">
		<div class="col-md-12 col">
		    <h3>Topics section</h3>
		    <p>Title: {{ fields.title|e('wp_kses_post')|raw }}</p>
		    <p>Subtitle: {{ fields.subtitle|e('wp_kses_post')|raw }}</p>
		    <p>Description: {{ fields.description|e('wp_kses_post')|raw }}</p>
		    <p>Layout: {{ fields.layout|e('wp_kses_post')|raw }}</p>
		    <ul>
			{% for cat in fields.categories %}
			    <li>
				<a href="{{ fields.topics_url }}{{ cat.slug }}">{{ cat.name }}</a>,
			    </li>
			{% endfor %}
		    </ul>
		</div>
	    </div>
	</div>
	<hr />
    {% endif %}
{% endblock %}
