{% block ugc %}
    {% if ( fields ) %}
	<section class="section-ugc">
		<div class="ct-container">
		    <h3>{{ __('Submit your story', 'planet4-gpea-blocks') }}</h3>
		    {% if ( fields.submit_result.message ) %}
			<p>{{ fields.submit_result.message }}</p>
			{% endif %}
			{% if ( fields.submit_result.result != 'success' ) %}
			<div id="ugc_postbox">
				<form id="new_post" enctype="multipart/form-data" name="new_post" method="post">
					<div class="form-group">
						<label for="your_name">{{ __('Your name', 'planet4-gpea-blocks') }}</label>
						<input type="text" id="user_name" value="" tabindex="1" size="20" name="user_name" required />
					</div>
					<div class="form-group">
						<label for="user_email">{{ __('Your email address', 'planet4-gpea-blocks') }}</label>
						<input type="email" id="user_email" value="" tabindex="1" size="20" name="user_email" required />
					</div>
					<div class="form-group">
						<label for="ugc_title">{{ __('Subject of your story', 'planet4-gpea-blocks') }}</label>
						<input type="text" id="ugc_title" value="" tabindex="1" size="20" name="ugc_title" required minlength="3" />
					</div>
					<div class="form-group">
						<label for="ugc_content">{{ __('Your story', 'planet4-gpea-blocks') }}</label>
						<textarea id="ugc_content" tabindex="3" name="ugc_content" cols="50" rows="10" required minlength="10"></textarea>
					</div>
					{% if fields.show_attachment_field %}
						<div class="form-group">
							<label for="ugc_cover">{{ lexicon.upload_cover }}</label>
							<input type="file" id="ugc_cover" value="" name="ugc_cover" accept="image/*" />
						</div>
						<div class="form-group">
							<label for="ugc_consent" class="ugc_consent__long">
								<input type="checkbox" id="ugc_consent" value="1" size="20" name="ugc_consent" required />
								{{ lexicon.cover_consent|e('wp_kses_post')|raw }}
							</label>						
						</div>
					{% endif %}
					{{ fields.wp_nonce|raw }}
					<input type="hidden" name="thankyou_message" value="{{ fields.thankyou_message }}" />
					<div class="form-group">
						<input type="submit" value="{{ __('Publish your story', 'planet4-gpea-blocks') }}" tabindex="6" id="submit" name="submit" class="button primary" />
					</div>
				</form>
			</div>
		    {% endif %}
		</div>
	</section>
    {% endif %}
{% endblock %}

