{% block world_slideshow %}
    {% if ( fields ) %}
	<section class="section-history">
	    <div class="generic-content ct-container">
		<h2>{{ fields.title }}</h2>
	    </div>
	    <div id="history-globe"></div>
	    <div class="swiper-container history-year-swiper">
		<div class="swiper-wrapper">
		    <div class="swiper-slide history-year">1971</div>
		    <div class="swiper-slide history-year">1974</div>
		    <div class="swiper-slide history-year">1999</div>
		</div>
	    </div>
	    <div class="swiper-container maxi-swiper">
		<div class="swiper-wrapper">
		    {% for i in 1..25 %}
			{% if fields['title_'~i] %}
			    <div class="swiper-slide card-explainer">
				<div class="description">
				    <h4>{{ fields['title_'~i] }}</h4>
				    <p class="subtitle">{{ fields['subtitle_'~i] }}</p>
				    <p>{{ fields['textblock_'~i] }}</p>
				</div>
				<div class="thumbnail" style="background-image: url({{ fields['img_'~i] }})"></div>
			    </div>
			{% endif %}
		    {% endfor %}
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next">
		    <span class="icon-chevron-right"></span>
		</div>
		<div class="swiper-button-prev">
		    <span class="icon-chevron-right"></span>
		</div>
	    </div>
	</section>
    {% endif %}
{% endblock %}
